*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.mainPage {
    background: linear-gradient(to right, rgb(255, 233, 218), rgb(252, 179, 145));
    height: 100%;
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    align-items: center;
    margin-bottom: 30px;
    
}

.cardTitle {
    font-size: 40px;
}

.shuffle {
    height: 40px;
    width: 150px;
    border-radius: 4px;
    background-color: rgb(223, 50, 27);
    margin-top: 30px;
    font-size: large;
    color: white;
    border-color: white;
    transform: translateY(var(--translate-y, 0));
}

.shuffle:hover {
    cursor: pointer;
    --translate-y: -2px;
    color: rgb(223, 50, 27);
    background-color: white;
}

.flashcard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    height: 250px;
    width: 200px;
    transform: rotateY(var(--rotate-y, 0)) perspective(1000px) translateY(var(--translate-y, 0));
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    margin: 20px;
    font-size: larger;
}


.flashcard.flip {
    --rotate-y: 180deg;
}


.flashcard .front,
.flashcard .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.flashcard .back {
    transform: rotateY(180deg);
}

.flashcard:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .7);
    --translate-y: -5px;
}


.flashcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.flashLoader {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    gap: 15px;
    height: 100vh;
    width: 100vw;
    margin-top: -225px;
}