*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.flashcard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    height: 250px;
    width: 200px;
    transform: perspective(1000px) rotateY(var(--flip-y, 0)) translateY(var(--hover-y, 0));
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    margin: 20px;
    font-size: larger;
}


.flashcard:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    --hover-y: -5px;
}

.flashcard .front,
.flashcard .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
    
}

.flashcard .back {
    transform: rotateY(180deg);
    
}


.flashcard-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
}


.flip .front {
    transform: rotateY(180deg); 
}

.flip .back {
    transform: rotateY(0deg);
}

.flashcard.flip .front{
    --flip-y: 180deg;
}

.flashcard.flip .back {
    --flip-y: 0deg;
}