*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.quizPage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: black;
    color: white;
    font-size: 3vw;
}


.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    font-size: 3vw;
    /* transform: translateY(-300vh); */
    /* animation: fall 10.5s forwards; */
    animation-iteration-count: 1;

}

#q {
    margin-left: 9px
}

#z {
    margin-right: 9px
}

/* @keyframes fall {
    100%{
        transform: translateY(0);
        transform: 'leave';
    }
    
} */